
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout-Student.cshtml";
}

<div ng-app="noticeBoardView">
    <div ng-controller="noticeControllerView">

        <!-- Large modal start-->
        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <h3 style="text-align:center;padding-top:5px;padding-bottom:5px;border-bottom:1px solid black">Batch Wise Notice</h3>
  
                    <div ng-repeat="page in noticePage" class="container">
                      <h4>Title: {{page.NoticeTitle}}</h4> 
                        <h5>Date: {{ page.Date.replace('/Date(','').replace(')/','') | date:"MM/dd/yyyy" }}</h5>  
                        <h5>Course-Name & Course-Code: {{page.CourseName}} ({{page.CourseCode}})</h5>  
                        <h5>Teacher Name: {{page.TeacherName}}</h5>  
                      <p>{{page.NoticeBody}}</p>  
                    </div>
                    

                </div>
            </div>
        </div>
        <!-- Large modal End-->



        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>Course Info</h3>

                        <p>All Assin-Course Info</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a href="/Teacher/AssinCourse" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>Class Perfor<sup style="font-size: 20px"></sup></h3>
                        <p>Class-Performance Mark</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="/Attendance/Atten" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>Mid Marks</h3>

                        <p>Semester Wise Mid-Mark Sheet</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="@Url.Action("MidResultStdView", "StudentResult")" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>Final Marks</h3>

                        <p>Semester Wise Final-Mark Sheet</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="@Url.Action("FinalResultStdView", "StudentResult")" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>


            <!-- ./col -->
        </div>


        <div class="row" style="padding-left:30px;padding-right:30px">
            <div class="col-md-6">
                <h3>Importent Forms Download</h3>

                <a href="#">
                    <div class="info-box">
                        <span class="info-box-icon bg-yellow"><i class="fa fa-files-o"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Type PDF</span>
                            <span class="info-box-number">Supplementary Examination Guidelines and Application Form</span>
                        </div>
                    </div>
                </a>

                <a href="#">
                    <div class="info-box">
                        <span class="info-box-icon bg-yellow"><i class="fa fa-files-o"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Type File</span>
                            <span class="info-box-number">Supplementary Examination Guidelines and Application Form</span>
                        </div>
                    </div>
                </a>

                <a href="#">
                    <div class="info-box">
                        <span class="info-box-icon bg-yellow"><i class="fa fa-files-o"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Type File</span>
                            <span class="info-box-number">Supplementary Examination Guidelines and Application Form</span>
                        </div>
                    </div>
                </a>

                <a href="#">
                    <div class="info-box">
                        <span class="info-box-icon bg-yellow"><i class="fa fa-files-o"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Type File</span>
                            <span class="info-box-number">Supplementary Examination Guidelines and Application Form</span>
                        </div>
                    </div>
                </a>


            </div>

            <div class="col-md-6">
                <h3>Notice Board </h3>

                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_2" data-toggle="tab" aria-expanded="true">Batch Notice</a></li>
                        <li class=""><a href="#tab_1" data-toggle="tab" aria-expanded="false">Univarsity Notice</a></li>

                        <li class="pull-right"><a href="@Url.Action("ViewAllBatchNotice","NoticeBoard")" class="text-muted"><i class="fa fa-gear">View</i></a></li>
                    </ul>
                    <div class="tab-content" style="height: 364px; overflow: scroll">
                        <div class="tab-pane" id="tab_1">
                            <table class="table">
                                <tr style="display:block;margin:4px">
                                    <td style="border:1px solid black">
                                        <h5 style="font-weight:bold"><a href="#">Next Sunday Class will be hold</a></h5>
                                        <i>10/11/2018</i>
                                        <p>
                                            Jesynajnjn jadsnjdasbjkb jsadnj. jesynajnjn jadsnjdasbjkb jsadnj. Jesynajnjn.
                                            hsghg dassda sahbhbhg hbsadhbhb
                                        </p>
                                    </td>
                                </tr>

                                <tr style="display:block;margin:4px">
                                    <td style="border:1px solid black">
                                        <h5 style="font-weight:bold"><a href="#">News Event</a></h5>
                                        <i>10/8/2017</i>
                                        <p>
                                            Jesynajnjn jadsnjdasbjkb jsadnj. jesynajnjn jadsnjdasbjkb jsadnj. Jesynajnjn.
                                            hsghg dassda sahbhbhg hbsadhbhb,hahsdghvdsha,sabh.
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!-- /.tab-pane -->



                        <div class="tab-pane active" id="tab_2">

                            <table class="table">


                                <tr style="display:block;margin:4px" ng-repeat="notice in batchNoticeView">
                                    <td style="border:1px solid black">
                                        <h4 style="font-weight:bold">
                                            <a href="" data-toggle="modal" data-target=".bd-example-modal-lg" ng-click="myNoticeId(notice.ID)">

                                                {{notice.NoticeTitle | limitTo: 40}}

                                            </a>
                                        </h4>

                                        <i>
                                            {{ notice.Date.replace('/Date(','').replace(')/','') | date:"MM/dd/yyyy" }}
                                        </i>

                                        <p>
                                            {{notice.NoticeBody | limitTo: 100}}
                                        </p>
                                    </td>
                                </tr>

                                <!--
                                    <tr style="display:block;margin:4px">
                                        <td style="border:1px solid black">
                                            <h5 style="font-weight:bold"><a href="#">Next Tuesday Class will be Contenue</a></h5>
                                            <i>10/11/2018</i>
                                            <p>
                                                Jesynajnjn jadsnjdasbjkb jsadnj. jesynajnjn jadsnjdasbjkb jsadnj. Jesynajnjn.jbjdba hdbahsb
                                            </p>
                                        </td>
                                    </tr>
                                    -->

                            </table>
                        </div>

                    </div>
                    <!-- /.tab-content -->
                </div>

            </div>
        </div>



    </div>
</div>




