
@{
    ViewBag.Title = "StatusFalse";
    Layout = null;
}

<div class="container">
    <h1 style="text-align:center;color:red"> Account Deactive</h1>
    <div class="row">
<div class="col-md-12" style="border:1px solid black;margin-left:40px;margin-right:40px;padding:10px">
    <h2 style="text-align:center">Sorry Your Account is Deactive</h2>
    <p style="text-align:center">Please Urgent Contract Your Faculty-Member or Coordinator. Other Wise Your Account Will be Parmanently Deactive!</p>

    
    <div style="text-align:center;font-size:25px">
        <a href="@Url.Action("StudentLogin","Admin")" style="text-decoration:none">Back To LogIn Page</a>
    </div>

</div>
    </div>
</div>